/* General Styling */
.main-bg {
    background-color: #fbf9f6;
}

body {
    /* These flex based properties help with the navbar staying 'sticky' */
    display:flex;
    flex-direction: column;
    min-height: 100vh
}

main {
    flex-grow: 1;
}

/* Font Styling */
.bbc-font {
    font-family: 'Merriweather', serif;
}

.bbc-fw {
    font-weight: 700;
}

/* Navbar Styling */
.navbar-brand {
    font-weight: 700;
    font-size: calc(20px + (26 - 14) * ((100vw - 300px) / (1600 - 300)));
}

.hero {
    height: 35vh;
    background-image: linear-gradient(rgba(112, 225, 245, 0.4), rgba(251, 249, 246, 0.8)), url(../images/hero.webp);
    background-size: cover;
    background-position: center;
}


/* Footer */
footer {
    flex-shrink: 0;
    height: 100px;
}

@media screen and (min-width: 1024px) {}